@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");
@import url("https://use.typekit.net/lwz3oxu.css");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* ブレークポイント */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 7.2rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/*=====================================================
# common
===================================================== */
.section-title {
  font-size: 3.2rem;
  margin-bottom: 30px;
}

.util_btn {
  margin-top: 30px;
}

.util_btn a {
  display: inline-block;
  background: #000000;
  color: #fff;
  max-width: 160px;
  width: 100%;
  line-height: 36px;
  text-align: center;
  font-size: 1.2rem;
}

.common-content {
  max-width: 1100px;
}

/*=====================================================
# header
===================================================== */
.header__logo {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
  line-height: 24px;
}

.header__logo img {
  height: 100%;
}

/*=====================================================
# main
===================================================== */
.main {
  height: 100vh;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background: #222;
  height: 100%;
  z-index: -1;
}

.main__bg {
  padding: 0 4vw;
  height: 86.5%;
  width: 76.4%;
  background: url(/image/kv-img@2x.png) no-repeat center center/cover;
}

.main__bg::after {
  content: "";
  background: rgba(0, 0, 0, 0.34);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.main__message {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(50%, -50%);
  color: #fff;
  z-index: 10;
  padding: 0 4vw;
}

.main__massage--sub-text {
  font-size: 2rem;
  line-height: 1.6;
}

@media screen and (max-width: 699px) {
  .main__massage--sub-text {
    font-size: 1.6rem;
  }
}

/*=====================================================
# about
===================================================== */
.about-bg {
  background: url(/image/about-img@2x.png) no-repeat center center/cover;
  margin: 120px auto 0;
  padding: 110px 0 110px 50px;
  position: relative;
}

@media (min-width: 700px) and (max-width: 999px) {
  .about-bg {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 699px) {
  .about-bg {
    padding: 50px 15px;
  }
}

.about-bg::after {
  content: "";
  background: rgba(0, 0, 0, 0.27);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.about-content {
  padding: 50px 30px;
  background: #fff;
  max-width: 590px;
  line-height: 2;
  position: relative;
  z-index: 10;
}

.about-content__message {
  margin-bottom: 30px;
}

/*=====================================================
# works-culture
===================================================== */
.works-culture {
  margin: 80px auto 0;
  padding: 0 4vw;
}

@media screen and (min-width: 1000px) {
  .works-culture {
    display: flex;
  }
}

.works-culture__img {
  margin-bottom: 30px;
  position: relative;
}

.works-culture__img::after {
  content: "";
  background: rgba(0, 0, 0, 0.27);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.works-culture__text {
  margin-bottom: 28px;
}

@media screen and (min-width: 1000px) {
  .works-culture-common {
    width: calc(50% - 60px / 2);
  }
}

@media screen and (min-width: 1000px) {
  .works-culture-common + .works-culture-common {
    margin-left: 60px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .works-culture-common + .works-culture-common {
    margin-top: 80px;
  }
}

@media screen and (max-width: 699px) {
  .works-culture-common + .works-culture-common {
    margin-top: 40px;
  }
}

.works-culture-content {
  max-width: 520px;
}

/*=====================================================
# latest-topics
===================================================== */
.latest-topics-content {
  margin: 120px auto 0;
  padding: 0 4vw;
}

.topics-news {
  max-width: 700px;
}

@media screen and (min-width: 1000px) {
  .topics-news {
    margin-left: auto;
  }
}

.topics-news a {
  color: #222;
  display: block;
}

.topics-news a:not(:first-child) {
  margin-top: 32px;
}

.topics-news-item {
  padding-bottom: 11px;
  border-bottom: 1px solid #dddddd;
}

.topics-news-item__date {
  font-size: 1rem;
  margin-bottom: 13px;
}

.topics-news-item__text {
  font-size: 1.2rem;
  font-weight: bold;
}

.news-btn {
  text-align: right;
}

/*=====================================================
# contact
===================================================== */
.contact {
  background: #f2f2f2;
}

@media screen and (min-width: 1000px) {
  .contact-wrapper {
    display: flex;
    align-items: center;
    padding: 60px 170px 120px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .contact-wrapper {
    padding: 40px 30px;
    width: 60vw;
  }
}

@media screen and (max-width: 699px) {
  .contact-wrapper {
    padding: 40px 15px;
  }
}

.contact-content {
  max-width: 440px;
  margin-right: 80px;
}

.contact-content__text {
  line-height: 2;
}

.contact-img {
  position: relative;
}

.contact-img::after {
  content: "";
  background: rgba(0, 0, 0, 0.27);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/*=====================================================
# footer
===================================================== */
.footer {
  background: #222;
  padding: 20px 0;
}

.footer__message {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
