@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");

@import url("https://use.typekit.net/lwz3oxu.css");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* ブレークポイント */
$breakpoints: (
  //キー: 値
  "sm": "screen and (max-width: 699px)",
  "tab": "(min-width: 700px) and (max-width: 999px)",
  "pc": "screen and (min-width: 1000px)"
) !default;

//メディアクエリー
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  @include mq(pc) {
    font-size: 7.2rem;
  }
}
h2 {
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}
/*=====================================================
# common
===================================================== */
.section-title {
  font-size: 3.2rem;
  margin-bottom: 30px;
}
.util_btn {
  margin-top: 30px;
  a {
    display: inline-block;
    background: #000000;
    color: #fff;
    max-width: 160px;
    width: 100%;
    line-height: 36px;
    text-align: center;
    font-size: 1.2rem;
  }
}
.common-content {
  max-width: 1100px;
}
/*=====================================================
# header
===================================================== */
.header {
  &__logo {
    width: 260px;
    position: fixed;
    top: 38px;
    left: 4vw;
    z-index: 1;
    line-height: 24px;
    img {
      height: 100%;
    }
  }
}

/*=====================================================
# main
===================================================== */
.main {
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: #222;
    height: 100%;
    z-index: -1;
  }
  &__bg {
    padding: 0 4vw;
    height: 86.5%;
    width: 76.4%;
    background: url(/image/kv-img@2x.png) no-repeat center center/cover;
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.34);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__message {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translate(50%, -50%);
    color: #fff;
    z-index: 10;
    padding: 0 4vw;
  }
  &__massage--sub-text {
    font-size: 2rem;
    line-height: 1.6;
    @include mq(sm) {
      font-size: 1.6rem;
    }
  }
}

/*=====================================================
# about
===================================================== */
.about-bg {
  background: url(/image/about-img@2x.png) no-repeat center center/cover;
  margin: 120px auto 0;
  padding: 110px 0 110px 50px;
  position: relative;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.27);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
.about-content {
  padding: 50px 30px;
  background: #fff;
  max-width: 590px;
  line-height: 2;
  position: relative;
  z-index: 10;
  &__message {
    margin-bottom: 30px;
  }
}

/*=====================================================
# works-culture
===================================================== */
.works-culture {
  margin: 80px auto 0;
  padding: 0 4vw;
  @include mq(pc) {
    display: flex;
  }
  &__img {
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.27);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  &__text {
    margin-bottom: 28px;
  }
}
.works-culture-common {
  @include mq(pc) {
    width: calc(50% -60px / 2);
  }
  & + & {
    @include mq(pc) {
      margin-left: 60px;
    }
    @include mq(tab) {
      margin-top: 80px;
    }
    @include mq(sm) {
      margin-top: 40px;
    }
  }
}
.works-culture-content {
  max-width: 520px;
}

/*=====================================================
# latest-topics
===================================================== */

.latest-topics-content {
  margin: 120px auto 0;
  padding: 0 4vw;
}
.topics-news {
  max-width: 700px;
  @include mq(pc) {
    margin-left: auto;
  }
  a {
    color: #222;
    display: block;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
}
.topics-news-item {
  padding-bottom: 11px;
  border-bottom: 1px solid #dddddd;

  &__date {
    font-size: 1rem;
    margin-bottom: 13px;
  }
  &__text {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.news-btn {
  text-align: right;
}
/*=====================================================
# contact
===================================================== */
.contact {
  background: #f2f2f2;
}
.contact-wrapper {
  @include mq(pc) {
    display: flex;
    align-items: center;
    padding: 60px 170px 120px;
  }
  @include mq(tab) {
    padding: 40px 30px;
    max-width: 520px;
  }
  @include mq(sm) {
    padding: 40px 15px;
  }
}
.contact-content {
  max-width: 440px;
  margin-right: 80px;

  &__text {
    line-height: 2;
  }
}

.contact-img {
  position: relative;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.27);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
